body {
    background-image: url("light-veneer.png");
}

.jumbotron {
    background-image: url("mekong-green.png");
    text-align: center;
    font-family: 'Shrikhand', cursive;
}

/* css for view.html*/

.card{
    background-color: rgb(223, 236, 233);
    text-align: center;
}